{extend name="base"/} {block name="title"}文章预览|阅读{/block} {block name="content"}
<div class="container article-detail">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="article-info">
                <div class="article-header-info">
                    <div class="article-title">
                        {$infoArr["title"]}
                    </div>
                    <div class="article-others">
                        <a href="{:url('index/user_info/user_info',['user_id'=>$infoArr['user_id']])}">
							<img class="user-head" src="__UPLOADS__/head/{$infoArr['avatar'] ? $infoArr['avatar'] : 'no-head.png' }"/>
							{$infoArr['nickname']}
						</a>
                        <span>{$infoArr["create_time"]|date='Y-m-d',###}&nbsp;&nbsp;|&nbsp;&nbsp;阅读次数:&nbsp;0</span>
                    </div>
                </div>
                <div class="article-content">
                    {$infoArr["content"]}
                </div>
                <div class='likes-cpt like'>
                    0
                </div>
            </div>
            <div class="article-post-comment row">
                <form role="form" id="form">
                    <div class="col-lg-10">
                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="5" placeholder="发表你的精彩评论啦" spellcheck="false"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <button type="submit" id="send-comment" class="btn btn-success">发布评论</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 消息弹出框 -->
<div>
    <div class="Confirm" style="display: none;">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div>删除的内容不可找回, 确认删除?</div>
        <div class="btn-group" id="btn-group">
            <div>取消</div>
            <div>确认</div>
        </div>
    </div>
</div>
{/block} {block name="jsFunc"}
<script type="text/javascript">
(function($) {

    //发布文章

    // 删除文章
    $("#del-article").click(function() {
        // 消息提示
        $(".Confirm").css("display", "block");
        $("#btn-group div").click(function() {
            var res = $(this).text();
            if (res == "确认") {

                $.ajax({
                    type: "POST",
                    url: "{:url('/index/read/article_del')}",
                    data: { "article_id": article_id },
                    success: function(data) {
                        console.log(data);
                        if (data.msg == "success") {
                            window.location.href = "{:url('index/user_info/user_info',['user_id'=>$Think.session.user_id])}";
                        }
                        if (data.msg == "error") {
                            toastr.error("删除失败");
                        }
                    }
                });
            }
            if (res == "取消") {
                $(".Confirm").css("display", "none");
            }
        });
    });


})(jQuery)
</script>
{/block}