<div class="footer">
    <div class="container">
        <div class="clearfix">
            <div class="footer-logo"><a href="#">岛屿 island</a></div>
            <dl class="footer-nav">
                <dt class="nav-title">关于我们</dt>
                <dd class="nav-item"><a href="#">The Company</a></dd>
                <dd class="nav-item"><a href="#">History</a></dd>
                <dd class="nav-item"><a href="#">Vision</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">意见反馈</dt>
                <dd class="nav-item"><a href="#">github</a></dd>
                <dd class="nav-item"><a href="#">QQ</a></dd>
                <dd class="nav-item"><a href="#">blog</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">联系我们</dt>
                <dd class="nav-item"><a href="#">tel:1234-56789</a></dd>
                <dd class="nav-item"><a href="#">addr:中北大学</a></dd>
            </dl>
        </div>
        <div class="footer-copyright text-center">Copyright &copy; 2018 中北大学.All rights reserved.</div>
    </div>
</div>