<nav role="navigation" class="navbar navbar-custom island-head">
    <div class="container-fluid">
        <div class="navbar-header">
            <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{:url('admin/index/index')}" class="navbar-brand" style="color:#fff;">island-Admin</a>
        </div>
        <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{:url('admin/login/logout')}">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>